@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-font {
    font-family: "Bebas Neue", serif;
    
    font-style: normal;
  }
  

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat-font {
    font-family: "Montserrat", serif;
    
    font-style: normal;
  }

  